= simple_form_for @member, html: { class: 'form-horizontal' } do |f|
  = f.input :email
  .form-actions
    = f.button :submit, t('save'), class: 'btn btn-primary'
    = link_to t('cancel'), account_team_members_path, class: 'btn'
